.header {
    grid-area: h;
    /*background-color: b;*/
    background: url("https://oir.mobi/uploads/posts/2021-03/1616581350_4-p-svetlo-goluboi-fon-dlya-prezentatsii-4.jpg");

}

.header img {
    width: 50px;
    height: 50px;
    margin-left: 10px;
}

.loginAuth {
    float: right;
}

.loginAuth a {
    color: white;
}